# Blah

In [1]:
from IPython.display import display, HTML, Image , Markdown
from snowflake.snowpark.session import Session
from snowflake.snowpark.types import * 
import snowflake.snowpark.functions as F
import os ,configparser ,json

# Source various helper functions
%run ../scripts/notebook_helpers.py

PROJECT_HOME_DIR = '../../'
CONFIG_FL = f'{PROJECT_HOME_DIR}/config.ini'

In [2]:
display(Markdown("### Initialization"))

config = configparser.ConfigParser()
sp_session = None

print(" Initialize Snowpark session")
with open(CONFIG_FL) as f:
    config.read(CONFIG_FL)
    snow_conn_flpath =  f"{PROJECT_HOME_DIR}/{config['APP']['connection_fl']}"
    
    # ------------
    # Connect to snowflake
    with open(snow_conn_flpath) as conn_f:
        snow_conn_info = json.load(conn_f)
        sp_session = Session.builder.configs(snow_conn_info).create()

if(sp_session == None):
    raise(f'Unable to connect to snowflake. Validate connection information in file: {CONFIG_FL} ')

sp_session.sql(f''' use role {config['APP']['role']}; ''').collect()
sp_session.sql(f''' use database {config['APP']['database']}; ''').collect()
sp_session.sql(f''' use warehouse {config['APP']['warehouse']}; ''').collect()

df = sp_session.sql('select current_account() ,current_user() ,current_role();').to_pandas()
display(df)

### Initialization

 Initialize Snowpark session

  CURRENT_ACCOUNT() CURRENT_USER()              CURRENT_ROLE()
0          ANA95816         VSEKAR  DEV_PCTRANSPERANCY_DEMO_RL

In [47]:
from datetime import datetime
from datetime import timedelta
import time
import hashlib

data_file = '2022_10_01_priority_health_HMO_in-network-rates.zip'
stage_path = 'data_stg/price_transperancy'

# data_file = '2022_07_01_priority_health_HMO_in-network-rates.json'
# data_file = '2022_07_01_priority_health_HMO_in-network-rates.json'
# data_file = '2022-11-01_cigna-health-life-insurance-company_national-oap_in-network-rates.json.gz'
# stage_path = 'ext_data_stg/data'

data_file_hash = hashlib.md5(data_file.encode()).hexdigest()
data_file_hash

'092c884b20ce621689355dd8dec5743e'

In [48]:
# Upload libraries to stage
lib_stage = config['APP']['lib_stage']

upload_locallibraries_to_p_stage(sp_session ,'../python/in-network-rates_v2' ,config['APP']['database'] ,'public' ,lib_stage ,'scripts')

print(' List stage directory !!')
stage_spdf = sp_session.sql(f'''list @{config['APP']['database']}.public.{lib_stage}; ''').collect()

for r in stage_spdf:
    print(f'@{r["name"]}')

 Uploading library to stage: sflk_pricing_transperancy.public.lib_stg
    ../python/in-network-rates_v2/ingest-in-network-rates-seg-header_sp_v2.py => @lib_stg/scripts
    ../python/in-network-rates_v2/in-network-rates-segment-dagbuilder-v2-segment-count.py => @lib_stg/scripts
    ../python/in-network-rates_v2/ingest-in-network-rates-segment-lists_sp.py => @lib_stg/scripts
    ../python/in-network-rates_v2/in-network-rates-segment-dagbuilder-v2.py => @lib_stg/scripts
 List stage directory !!
@lib_stg/scripts/in-network-rates-segment-dagbuilder-v2-segment-count.py
@lib_stg/scripts/in-network-rates-segment-dagbuilder-v2.py
@lib_stg/scripts/ingest-in-network-rates-seg-header_sp_v2.py
@lib_stg/scripts/ingest-in-network-rates-segment-lists_sp.py

In [4]:
# Negotiation header parsing

start_time = time.time()
print(f'Started at: {datetime.now().strftime("%H:%M:%S")}')

sql_stmts = [
    f'''truncate table {config['APP']['database']}.public.in_network_rates_segment_header_V2; '''
    ,f''' call {config['APP']['database']}.public.innetwork_rates_segheader(
            1000000 ,'{stage_path}' ,'{data_file}');'''
]
for stmt in sql_stmts:
    print(stmt)
    sp_session.sql(stmt).collect()

end_time = time.time()
print(f'Ended at: {datetime.now().strftime("%H:%M:%S")}')

elapsed_time = end_time - start_time
elapsed = str(timedelta(seconds=elapsed_time))
print(f'Elapsed: {elapsed}')

In [5]:
# Dag & task build up

start_time = time.time()
print(f'Started at: {datetime.now().strftime("%H:%M:%S")}')

sql_stmts = [
    f''' alter warehouse dev_pctransperancy_demo_wh set warehouse_size = XSMALL; '''
    ,f'''truncate table {config['APP']['database']}.public.task_to_segmentids; '''
    ,f'''truncate table {config['APP']['database']}.public.negotiated_arrangment_segments_v2; '''
    ,f'''truncate table {config['APP']['database']}.public.segment_task_execution_status; '''
    ,f''' call {config['APP']['database']}.public.innetwork_rates_dagbuilder_v2(
        100000 ,'{stage_path}' ,'{data_file}'
        ,100 ,current_warehouse() ,true
        );'''
]
for stmt in sql_stmts:
    print(stmt)
    sp_session.sql(stmt).collect()

end_time = time.time()
print(f'Ended at: {datetime.now().strftime("%H:%M:%S")}')

elapsed_time = end_time - start_time
elapsed = str(timedelta(seconds=elapsed_time))
print(f'Elapsed: {elapsed}')

Started at: 08:05:14
 alter warehouse dev_pctransperancy_demo_wh set warehouse_size = XSMALL;
truncate table sflk_pricing_transperancy.public.task_to_segmentids;
truncate table sflk_pricing_transperancy.public.negotiated_arrangment_segments_v2;
truncate table sflk_pricing_transperancy.public.segment_task_execution_status;
 call sflk_pricing_transperancy.public.innetwork_rates_dagbuilder_v2(
        100000 ,'ext_data_stg/data' ,'2022-11-01_cigna-health-life-insurance-company_national-oap_in-network-rates.json.gz'
        ,100 ,current_warehouse() ,true
        );
Ended at: 08:06:37
Elapsed: 0:01:23.516363

In [14]:
# segment parsing

start_time = time.time()
print(f'Started at: {datetime.now().strftime("%H:%M:%S")}')

sql_stmts = [
    f''' alter warehouse dev_pctransperancy_demo_wh set max_concurrency_level = 3 '''
    ,f''' alter warehouse dev_pctransperancy_demo_wh set warehouse_size = XXXLARGE; '''
    ,f'''truncate table {config['APP']['database']}.public.negotiated_arrangment_segments_v2; '''
    ,f'''truncate table {config['APP']['database']}.public.segment_task_execution_status; '''
    # ,f''' call {config['APP']['database']}.public.innetwork_rates_segments_ingest_sp(
    #     10000000 ,'{stage_path}' ,'{data_file}'
    #     ,'negotiated_rates' 
    #     ,'TSK_092C884B20CE621689355DD8DEC5743E_16');'''

    ,f''' execute task DAG_ROOT_{data_file_hash}; '''
]
for stmt in sql_stmts:
    sp_session.sql(stmt).collect()

end_time = time.time()
print(f'Ended at: {datetime.now().strftime("%H:%M:%S")}')

elapsed_time = end_time - start_time
elapsed = str(timedelta(seconds=elapsed_time))
print(f'Elapsed: {elapsed}')

Started at: 08:23:58
Ended at: 08:23:59
Elapsed: 0:00:01.379324

---

Observations

In [40]:
sql_stmt = f'''
select 
    name ,state ,error_code ,error_message
  from table(information_schema.task_history(
    scheduled_time_range_start=>to_timestamp_ltz('2022-11-25 8:23:00.000 -0500')
    -- ,ERROR_ONLY => TRUE
  ))
  where state not in ('SUCCEEDED')
  order by state asc
;'''
df = sp_session.sql(sql_stmt).to_pandas()
display(df)

                                      NAME      STATE ERROR_CODE ERROR_MESSAGE
0  TSK_824B844C46F99EF08898F2620C0B2903_55  EXECUTING       None          None
1  TSK_824B844C46F99EF08898F2620C0B2903_15  EXECUTING       None          None
2  TSK_824B844C46F99EF08898F2620C0B2903_95  EXECUTING       None          None
3   TSK_824B844C46F99EF08898F2620C0B2903_5  EXECUTING       None          None
4  TSK_824B844C46F99EF08898F2620C0B2903_85  EXECUTING       None          None
5  TSK_824B844C46F99EF08898F2620C0B2903_65  EXECUTING       None          None
6  TSK_824B844C46F99EF08898F2620C0B2903_25  EXECUTING       None          None
7  TSK_824B844C46F99EF08898F2620C0B2903_75  EXECUTING       None          None
8  TSK_824B844C46F99EF08898F2620C0B2903_35  EXECUTING       None          None
9  TSK_824B844C46F99EF08898F2620C0B2903_45  SCHEDULED       None          None

In [43]:
sql_stmt = f'''
select min(l.inserted_at) as started_at ,max(l.inserted_at) as latest 
 ,TIMESTAMPDIFF(minutes, started_at ,latest) as elapsed_min_latest
 ,TIMESTAMPDIFF(minutes, started_at ,current_timestamp()) as elapsed_min 
 ,least(elapsed_min_latest ,elapsed_min)/60 as elapsed_hr
 ,count(l.task_name) as task_count
-- #,timediff(minutes, started_at ,latest) as elapsed_minutes 
from {config['APP']['database']}.public.segment_task_execution_status as l
 ;
    '''
df = sp_session.sql(sql_stmt).to_pandas()
display(df)

,STARTED_AT,LATEST,ELAPSED_MIN_LATEST,ELAPSED_MIN,ELAPSED_HR,TASK_COUNT
0,2022-11-25 05:24:03.624,2022-11-25 06:10:40.676,46,61,0.766667,102

In [33]:
sql_stmt = f'''
        select segment_id ,count(*) as rec_count 
        from {config['APP']['database']}.public.negotiated_arrangment_segments_v2
        group by segment_id
        ;
    '''
df = sp_session.sql(sql_stmt).to_pandas()
display(df)

                                  SEGMENT_ID  REC_COUNT
0       b6bafecc-f57a-4a60-b926-0dbc3284daab         12
1       4f9262cc-c77d-4b18-a19d-586c65f3953a        308
2       50c1e3ef-23ec-4401-afd6-926c99efa60b          5
3       019963a8-1f68-44f2-a8aa-fc0a4e2fdc20          4
4       00c1e609-fd03-4c74-b975-bfc1390c1619        255
...                                      ...        ...
198725  1c4eb4b1-b20e-43d8-97a1-790812df84e4        676
198726  1e5defb1-0cb0-4dd3-af53-fd05229cfef7        522
198727  5610b983-228e-4f71-a78e-abb5ce0c5ac0          1
198728  5667ec9c-7c47-4675-84bd-3872861c675c          6
198729  e8e4e813-e436-4e86-8f0d-bd5b3651bcfd        231

[198730 rows x 2 columns]

In [45]:
sql_stmt = f'''
        select data_file ,count(*) as rec_count 
        from {config['APP']['database']}.public.negotiated_arrangment_segments_v2
        group by data_file
        ;
    '''
df = sp_session.sql(sql_stmt).to_pandas()
display(df)

                                           DATA_FILE  REC_COUNT
0  2022-11-01_cigna-health-life-insurance-company...  181134567

In [252]:
sql_stmt = f'''
        select *
        from {config['APP']['database']}.public.segment_task_execution_status
        ;
    '''
df = sp_session.sql(sql_stmt).to_pandas()
display(df)

,DATA_FILE,TASK_NAME,ELAPSED,TASK_RET_STATUS,INSERTED_AT
0,2022_10_01_priority_health_HMO_in-network-rate...,DAG_ROOT_092c884b20ce621689355dd8dec5743e,None,None,2022-11-23 02:04:40.058

In [44]:


sql_stmt = f'''
        select sum(negotiated_rates_count)
        from {config['APP']['database']}.public.in_network_rates_segment_header_V2
        ;
    '''
df = sp_session.sql(sql_stmt).to_pandas()
display(df)

   SUM(NEGOTIATED_RATES_COUNT)
0                     71007045

In [ ]:
# x_df = df.set_index('SEGMENT_ID')
y_df = pd.qcut(df['NEGOTIATED_RATES_COUNT'], 10 ,labels=False)
# q_df.columns = 'CLASS'
# q_df

q_df = pd.DataFrame({'CLASS':y_df.values})
q_df
# q_df.value_counts()

In [ ]:
# df.join(q_df)
# q_df.columns
# df.columns
x_df = pd.concat([df ,q_df] ,axis=1)
x_df

In [ ]:
x_df.groupby('CLASS')['NEGOTIATED_RATES_COUNT'].sum()

In [ ]:
# from datetime import datetime
# now = datetime.now()

# start_time = now.strftime("%H:%M:%S")
# print(f'Started at: {start_time}')

# sql_stmts = [
#     f''' alter warehouse dev_pctransperancy_demo_wh set warehouse_size = XSMALL; '''
#     ,f'''truncate table {config['APP']['database']}.public.in_network_rates_segment_header_V2; '''
#     ,f''' call {config['APP']['database']}.public.innetwork_rates_segheader(
#             1000 ,'data_stg/price_transperancy' ,'2022_10_01_priority_health_HMO_in-network-rates.zip');'''
# ]
# for stmt in sql_stmts:
#     sp_session.sql(stmt).collect()

# now = datetime.now()
# end_time = now.strftime("%H:%M:%S")
# print(f'Ended at: {end_time}')

---
### TBL

In [ ]:
df = sp_session.table(f'''{config['APP']['database']}.public.in_network_rates_segment_header_V2''').limit(10).to_pandas()
display(df)

#### TODO : Perform some model analysis 
 - accuracy score
 - error rate calculation
 - confusion matrix
  ...

--- 
### Closeout

    With that we are finished this section of the demo setup

In [ ]:
# sp_session.close()
print('Finished!!!')

In [ ]:
employees = [('Stuti', 28, 'Varanasi', 20000),
            ('Saumya', 32, 'Delhi', 25000),
            ('Aaditya', 25, 'Mumbai', 40000),
            ('Saumya', 32, 'Delhi', 35000),
            ('Saumya', 32, 'Delhi', 30000),
            ('Saumya', 32, 'Mumbai', 20000),
            ('Aaditya', 40, 'Dehradun', 24000),
            ('Seema', 32, 'Delhi', 70000)
            ]
 
# Create a DataFrame object from list
df = pd.DataFrame(employees,
                columns =['Name', 'Age',
                        'City', 'Salary'])
# Show the dataframe
df

In [ ]:
df.iloc[3:5,]